.WelcomePage {
    /* background: url('../avatars/CastleFire.png');
    background-repeat: no-repeat;
    background-position: center; */
    /* background-size: 100%; */

    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    height: 100vh;
    color: white;
}

.InnerContainer {
    text-align: center;
    font-size: 30px;
}

.InnerText {
    width: 50%;
    margin: 0 auto;
    background: black;
    border: 4px solid grey;
    border-radius: 8px;
    padding: 20px;
}

.SubText {
    font-size: 18px;
    font-style: italic;
}
