.FeatureCardContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
}
.FeatureCardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.FeatureCardHeaderContainer {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    color: white;
    padding: 20px;
}

.FeatureCardImage {
    width: 250px;
    height: 250px;
}
.FeatureCardTextContainer {
    padding: 8px 16px;
}
