.FullPageContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(33, 37, 41, 0.8); */
    background: rgba(33, 37, 41, 1);
}
.FullPageLoadingSpinner {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 2;
    position: absolute;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
